

#contentBody{
	
	/*background-image: url("img/linesBg.jpg");
	/*background-color: rgba(26, 34, 97, 0.35);*/
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


#footer{
	/*background-color: rgba(26, 34, 97, 0.35);*/
	color: #aaa;
	border-radius: 10px 10px 0 0;

	
	height: 40px; 
}

#navbar{

	/*background-color: rgba(26, 34, 97, 0.35);*/
	border-radius: 0 0 10px 10px;

}











