<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="left center">

    
    <md-button class="md-whiteframe-2dp" ui-sref="home" > <i class="fa fa-home fa-fw"></i> &nbsp;Home</md-button>
    <md-button class="md-whiteframe-2dp" ui-sref="addBurger">+&nbsp;Aggiungi</md-button>
    <!--<md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
        <md-menu-content width="2">
            <md-menu-item>
                <md-button>Help</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>About</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>-->
</div><!--
<div class="nav-buttons">
    <md-button class="md-raised md-accent">My profile</md-button>
    <md-button class="md-raised md-warn">Log Out</md-button>
</div>-->