<div ng-controller="RandomCtrl">
	<h2>Random Burger</h2>
	<img ng-src={{burgerImage}} alt="burgerImage"/>
	<h4 ng-model="burgerName" ng-bind="::burgerName"></h4>
	<p ng-model="burgerPrice" ng-bind="::burgerPrice + ' Euro'"></p>
	<p ng-model="burgerDescription" ng-bind="::burgerDescription "> </p>

	<div style="display: inline-flex">
		<md-button ng-jq type="submit" id="randomize" class="md-primary md-raised" ng-click="randomize()">Randomize</md-button>
		<md-button type="submit" class="md-primary md-raised" ng-click="remove(burgerId)">Delete</md-button>
		<md-button type="submit" class="md-primary md-raised" ui-sref="update({id: burgerId})" ui-sref-opts="{reload: true}">Update</md-button>
	</div>
</div>
