<h3 ng-bind="title"></h3>



        <div flex layout="row" layout-align="center center">
            <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
                <md-content class="md-padding">
                    <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                        <form name="burgerForm" data-ng-submit="save(burger)">
                            <md-input-container>
                                <label>Name:</label>
                                <input ng-model="burger.name"  required>
                            </md-input-container>

                            <md-input-container>
                                <label>Description:</label>
                                <textarea ng-model="burger.description" columns="1" md-maxlength="150" required></textarea>
                            </md-input-container>

                            <md-input-container>
                                <label>ImageUrl:</label>
                                <input type="text" ng-model="burger.image" columns="1" md-maxlength="150" ></input>
                            </md-input-container>

                             <md-input-container>
                                <label>Price:</label>
                                <input type="number" ng-model="burger.price" columns="1" ></input>
                            </md-input-container>


                            <md-button type="submit" class="md-primary md-raised"
                                       ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"
                                       aria-label="Save Project" ng-bind="title"></md-button>
                        </form>
                    </div>
                </md-content>
            </div>
        </div>
